table th, table td {
    width: 25%;
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group {
    margin: 20px 0px;
}

td:first-of-type, td:first-of-type > div {
    height: 180px;
    width: 230px;
}